@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* In your CSS file */
.map-container{
    width: 100vw;
    max-height: 80vh;
    margin: 0 5vw 0 5vw;
}

.landscape-map {
    height: fit-content;
    /* Adjust the height as needed for landscape */
    width: auto;
}

.indonesia {
    fill: #1E3A5F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indonesia path:hover {
    fill: #4CAF50;
}

/* .tooltip {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    pointer-events: none;
    transition: opacity 0.3s;
} */